@import "main";
.layout {
  @include inheritColors();
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  &__side-nav,
  &__container {
    height: 100%;
  }

  &__top-bar {
    @include zIndex("top-bar");

    position: sticky;
    top: 0;
  }

  &__side-nav {
    overflow: auto;
    height: 100vh;
  }
  &__container {
    overflow: auto;
  }
  &__content {
    padding: 20px 40px;
  }
}
