@import "main";
.layout {

  $side-nav-width: 300px;

  position: relative;
  width: 100%;
  height: 100vh;
  background: inherit;
  color: inherit;
  display: flex;

  &__side-nav,
  &__container {
    height: 100%;
    overflow: auto;
  }

  &__top-bar{
    @include zIndex('top-bar');
    position: sticky;
    top: 0;
  }


  &__side-nav{
    background-color: pink;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $side-nav-width;
  }
  &__container {
    background-color: mediumorchid;
    flex-grow: 1;
  }

}
