// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// I added this styles in globle-style lib, because I am using monorepo
:root {
  color-scheme: light !important;
  @include theme(light);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include theme(dark);
//   }
// }

body {
  background-color: var(--clr-background);
  color: var(--clr-primary);
  transition: color,background-color 0.2s linear;
  will-change: color, background-color;
  font-family: $roboto-font-stack !important;

  &.dark-theme {
    @include theme(dark);
  }
  &.light-theme {
    @include theme(light);
  }
}
