<aside class="side-nav">
  <img class="side-nav__logo" src="assets/logo.png" alt="logo" width="145" />
  <nav class="side-nav__navigation">
    <ul class="side-nav__links">
      <app-side-nav-btn class="side-nav__link">link</app-side-nav-btn>
    </ul>
  </nav>
  <button>log out</button>
</aside>

<!-- 1 -->
<aside class="side-nav">
  <img class="side-nav__logo" src="assets/logo.png" alt="logo" width="145" />
  <nav class="side-nav__navigation">
    <ul class="side-nav__links">
      <app-side-nav-btn class="side-nav__link">link</app-side-nav-btn>
    </ul>
  </nav>
</aside>

<!-- 2 -->
<aside class="side-nav">
  <img class="side-nav__logo" src="assets/logo.png" alt="logo" width="145" />
  <nav class="side-nav__navigation">
    <ul class="side-nav__navigation__links">
      <app-side-nav-btn class="side-nav__navigation__link">link</app-side-nav-btn>
    </ul>
  </nav>
</aside>
