@import "main";
:host > * {
  height: 100%;
  width: 100%;
}

.side-nav {
  padding: toRem(38) toRem(35) toRem(48) toRem(20);
  background-color: var(--clr-primary);
  color: var(--clr-background);

  &__logo {
    object-fit: contain;
    width: 145;
    height: auto;
    aspect-ratio: 145/40;
    margin-block-end: toRem(48);
  }
  &__navigation {
    overflow-y: auto;
    margin-block-end: toRem(30);
  }
  &__link {
    color: var(--clr-surface);
    width: 100%;

    &--active{
      background-color: var(--clr-neutral);
      color: var(--clr-secondary);
    }
  }
}
