<aside class="side-nav">
  <img class="side-nav__logo" src="assets/logo.png" alt="logo" width="145" />
  <nav class="side-nav__navigation">
    <ul class="side-nav__links">
      <app-side-nav-btn *ngFor="let item of [1,1,1,]" class="side-nav__link">link</app-side-nav-btn>
      <app-side-nav-btn *ngFor="let item of [1,1,1,]" class="side-nav__link">link</app-side-nav-btn>
      <app-side-nav-btn *ngFor="let item of [1,1,1,]" class="side-nav__link">link</app-side-nav-btn>
      <app-side-nav-btn *ngFor="let item of [1,1,1,]" class="side-nav__link">link</app-side-nav-btn>
    </ul>
  </nav>
  <app-side-nav-btn class="side-nav__link">link</app-side-nav-btn>
</aside>

