/* You can add global styles to this file, and also import other style files */
$primary-color: hsl(67.83deg 81.18% 66.67%);
$secondary-color: hsl(230deg 7.32% 16.08%);
$background-color: hsl(240deg 10% 96.08%);
$surface-color: hsl(0deg 0% 100%);
$alert-color: hsl(6.27deg 70.53% 62.75%);
